<main>
	<div class="herbs-container">
	<h2>All Herbs</h2>

	{{#each herbs}}

	
		<a href="/{{_id}}">
					<h3> {{ name }} </h3>
			<img src="{{ img }}" alt="" srcset="">

		</a>
        <p>{{description}}</p>
		<p>$ {{price}} per pound </p>

<ul class="ailmentlist"> 
	<h3>Best Used For</h3>
  {{#each ailmentName}}
    <li>{{this}}</li>
  {{/each}}
</ul>
	{{/each}}
	</div>


</main>