<div class="background">
<main>
	<h2>All Herbs</h2>

	<div class="herbs-container">
		{{#each herbs}}
		<div class="herbs">
			<a href="/herbs/{{_id}}">
				<h3> {{ name }} </h3>
				<img src="../imgs/{{ img }}" alt="" srcset="">

			</a>
			<h4>${{price}} per pound </h4>
		</div>

		{{/each}}
		{{!-- <ul class="ailmentlist">
				<h3>Best Used For</h3>
				{{#each ailmentName}}
				<li>{{this}}</li>
				{{/each}}
			</ul> --}}

	</div>
	<br><br>

</main>
</div>