<main>
    <div class="herb-container">

        <a id='returnlink' href="/herbs">Return to All Herbs</a>
        <br>
        <div class="herb">
            <h3 id="nameone"> {{ herb.name }} </h3>
            <img src="../imgs/{{ herb.img }}" alt="" srcset="">
            <h5>${{herb.price}} per pound </h5>
            <p>{{herb.description}}</p>

            <ul class="ailmentlist">
                <h3 id="usedfor">Best Used For</h3>

                {{#each herb.ailmentName}}
                <li>{{this}}</li>
                {{/each}}

            </ul>

            <div class="buttons">
                <a href="/herbs/{{herb.id}}/edit">
                    <input type="submit" value="Modify Herb" class="button">
                </a>
                <form action="/herbs/{{herb.id}}?_method=delete" method="POST">
                    <input type="submit" value="Delete Herb" class="button">
                </form>
            </div>

        </div>
    </div>

</main>