<main>
	<div class="herb-container edit">
		<h2>Edit Supplement!</h2>

		<a id='returnlink' href="/sups/{{sup.id}}">Return to Supplement</a>
<br><br>
		<div id="edit-form" class="sup-container-show">


			{{!-- <<<<< YOUR WHOLE FORM GOES HERE >>>>> --}}
			<form action="/sups/{{sup.id}}?_method=put" method="POST">
				<label for="name">Name</label>
				<input type="text" name="name" value="" id="" placeholder="{{sup.name}}">
				<br>
				<label for="img">Image</label>
				<input type="file" name="img" id="">
				<br>
				<label for="description">Description</label>
				<input type="text" name="description" value="" id="" placeholder="{{sup.description}}">
				<br>
				<label for="price">Price</label>
				<input type="number" name="price" value="" id="" placeholder="{{sup.price}}">
				<br>
				<label for="ailmentName">Uses</label>
				<input type="text" name="ailmentName" value="" id="" placeholder="{{sup.ailmentName}}">
				<br>
				<input class="button"  type="submit" value="Update Supplement">

			</form>

			<div id="img-preview">
				<img src="../../imgs/{{sup.img}}">
			</div>

		</div>
	</div>
</main>