<main>
	<h2>All Supplements</h2>

	<div class="sups-container">
		{{#each sups}}
		<div class="sups">
			<a href="/sups/{{_id}}">
				<h3> {{ name }} </h3>
				<img src="../imgs/{{ img }}" alt="" srcset="">

			</a>
			<h4>${{price}} per pound </h4>
		</div>

		{{/each}}
		{{!-- <ul class="ailmentlist">
				<h3>Best Used For</h3>
				{{#each ailmentName}}
				<li>{{this}}</li>
				{{/each}}
			</ul> --}}
		
	</div>
	<div class="create">
			<p>Didn't Find What You Were Looking For?</p>
			<a href="/sups/new">
				<input type="submit" value="Request New Supplement">
			</a>
		</div>
	<br><br>

</main>