<main>
    <div class="sup-container">
        {{!-- <h2>All sups</h2> --}}
        <a id='returnlink' href="/sups">Return to All Supplements</a>
<br>
        <div class="sup">
            <a href="sups/{{_id}}">
                <h3 id="nameone"> {{ sup.name }} </h3>
                <img src="../imgs/{{ sup.img }}" alt="" srcset="">

            </a>

            <h5>$ {{sup.price}} per pound </h5>
            <p>{{sup.description}}</p>

            <ul class="ailmentlist">
                <h3 id="usedfor">Best Used For</h3>
                {{#each sup.ailmentName}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

            <div class="buttons">
                <a href="/sups/{{sup.id}}/edit">
                    <input type="submit" value="Modify Supplement" class="button">
                </a>
                <form action="/sups/{{sup.id}}?_method=delete" method="POST">
                    <input type="submit" value="Delete Supplement" class="button">
                </form>
            </div>
        </div>
    </div>

</main>